<table 
    matSort (matSortChange)="sortData($event)"
    mat-table 
    [dataSource]="dataSource" 
    class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="name">
    <th  mat-sort-header="name" class="ms-colors ms-column-left" mat-header-cell *matHeaderCellDef> Account <span><i class="fas fa-angle-up"></i></span>
     </th>
    <td class="ms-colors-name" mat-cell *matCellDef="let account"> 
  <b>  {{account.name}} </b>
  </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="available_cash">
    <th class="ms-colors ms-column-right" mat-header-cell *matHeaderCellDef> 
    	<p class="available-cash-column-text">Available Cash</p>
    	 <p class="available-cash-subtext">Today's Change</p>
     </th>
    <td class="ms-colors ms-column-right" mat-cell *matCellDef="let account"> 

    <p class="available-cash-column-text">{{account.available_cash}}</p>
     <span [style.color]="setColor(account.positive)" class="today-change-subtext-pos">{{account.today_change}}</span>
     </td>
  </ng-container>


  <tr class="ms-row-color"
       mat-header-row
       *matHeaderRowDef="displayedColumns"></tr>
  <tr   class="ms-row-color"
  		mat-row 
        *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
