<!-- <ng-container cdkColumnDef="username">
  <th cdk-header-cell *cdkHeaderCellDef> Account </th>
  <td cdk-cell *cdkCellDef="let account of accounts"> {{account.name}} </td>
</ng-container> -->
<!-- 
<table mat-table [dataSource]=”accounts”>
  
</table> -->


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note tha class="ms-colors"t these columns can be defined in any order.
        The actual rendered columns are set as a property on the row 
        definition" -->

  <!-- Position Column -->
  <!-- 
  <ng-container  matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> id </th>
    <td mat-cell *matCellDef="let account"> {{account.id}} </td>
  </ng-container> -->

  <!-- Position Column -->
  <ng-container matColumnDef="name">
    <th class="ms-colors ms-column-left" mat-header-cell *matHeaderCellDef> Account </th>
    <td class="ms-colors-name" mat-cell *matCellDef="let account"> {{account.name}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="available_cash">
    <th class="ms-colors ms-column-right" mat-header-cell *matHeaderCellDef> 
    	<p class="available-cash-column-text">Available Cash</p>
    	 <p class="available-cash-subtext">Today's Change</p>
     </th>
    <td class="ms-colors ms-column-right" mat-cell *matCellDef="let account"> 

    <p class="available-cash-column-text">{{account.available_cash}}</p>
     <p class="today-change-subtext-pos">{{account.today_change}}</p>
     </td>
  </ng-container>


  <tr class="ms-row-color"
       mat-header-row
       *matHeaderRowDef="displayedColumns"></tr>
  <tr   class="ms-row-color"
  		mat-row 
        *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
