<table 
   mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
<!-- 
  <ng-container matColumnDef="identity">

    <th  
          id="myApp-mat-header-stem"
         class="account-name-color ms-column-left" 
         mat-header-cell *matHeaderCellDef
         >  
      ID
    </th>
    <td class="ms-colors-name" mat-cell *matCellDef="let account"> 
  <b>  {{account.identity}} </b>
  </td>
  </ng-container> -->

  <!-- Position Column -->
  <ng-container matColumnDef="identity">

    <th  mat-sort-header="identity" 
          id="myApp-mat-header-stem"
         class="account-name-color ms-column-left" 
         mat-header-cell *matHeaderCellDef
         >  
      Account
    </th>
    <td class="ms-colors-name" mat-cell *matCellDef="let account"> 
  <b>  {{account.name}} - {{account.identity}} </b>
  </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="available_cash">

    <th mat-sort-header="available_cash" 
    class="ms-colors ms-column-right" 
    mat-header-cell
    *matHeaderCellDef> 
    	<p class="available-cash-column-text">Available Cash</p>
    	 <p class="available-cash-subtext">Today's Change</p>
     </th>
    <td class="ms-colors ms-column-right" mat-cell *matCellDef="let account"> 

    <p class="available-cash-column-text">{{account.available_cash}}</p>
     <span [style.color]="setColor(account.positive)" class="today-change-subtext-pos">{{account.today_change}}</span>
     </td>
  </ng-container>


  <tr class="ms-row-color"
       mat-header-row
       *matHeaderRowDef="displayedColumns"></tr>
  <tr   class="ms-row-color"
  		mat-row 
        *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- <course></course> -->
