/* You can add global styles to this file, and also import other style files */
body {
	background-color: #19a0d5;
}
.mat-sort-header-arrow.ng-trigger.ng-trigger-arrowPosition.ng-tns-c2-0.ng-star-inserted  .mat-sort-header-stem {
display: none;
}

.mat-sort-header-arrow.ng-trigger.ng-trigger-arrowPosition.ng-tns-c2-0.ng-star-inserted {
color: #19a0d5;
}

.mat-sort-header-arrow.ng-trigger.ng-trigger-arrowPosition.ng-tns-c2-1.ng-star-inserted  .mat-sort-header-stem {
display: none;
padding-bottom: 5px;
}
.mat-sort-header-arrow.ng-trigger.ng-trigger-arrowPosition.ng-tns-c2-1.ng-star-inserted {
color: #19a0d5;
padding-bottom: 20px;
}

/*mat-sort-header-arrow ng-trigger ng-trigger-arrowPosition ng-tns-c2-1 ng-star-inserted*/